@model DogsApp.Mvc.Models.Dog[]

<!DOCTYPE html>	
<html>



<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dog List</title>
</head>
<body>
    <h2>Dog List</h2>
    <ol>    
        @foreach (var dog in Model)
        {
            <li>@dog.Name</li>
        }
    </ol>

    <a href="/create/dog">Create Dog</a>
</body>
</html>
